.#{$m-entry}
    .#{$m-carousel}.#{$basic}.#{$product}
        .#{$m-carousel__pane}
            width: 558px

        .#{$m-carousel__item}
            width: 186px

.#{$m-entry__image-credit}
    font-size: 0.8rem
