.#{$m-entry-section}
    &.#{$section1}
        .#{$center}
            .#{$m-entry-slot}
                &:first-child
                    &::after
                        +position(0, 0, initial, initial)

                        border-width: 1px 1px 0 0

                    & > :first-child:after
                        +position(initial, 0, -1px, initial)

                        border-width: 0 1px 1px 0

        .#{$right}
            .#{$m-entry-slot}
                &:last-child
                    &::before
                        +position(-1px, initial, initial, -1px)
                        border-width: 1px 0 0 1px

    &.#{$section2}
        .#{$right}
            float: left
            clear: none

            .#{$m-entry-slot}
                float: none

                width: auto

        .#{$left}
            .#{$m-entry-slot}
                &:last-child
                    padding-bottom: 3.5rem

        .#{$center}
            .#{$m-entry-slot}
                &:first-child
                    &::after
                        +position(0, 0, initial, initial)
                        border-width: 1px 1px 0 0
                    & > :first-child
                        &::after
                            +position(initial, 0, -1px, initial)
                            border-width: 0 1px 1px 0

                &:last-child
                    & > :first-child
                        &::before
                            +position(initial, initial, -1px, 0)
                            border-width: 0 0 1px 1px

    &.#{$section6},
    &.#{$section7}
        .#{$right}
            width: 258px

            &::before
                +position(0, 258px, 0, initial)
                left: initial

    &.#{$-horizontal-left}
        @extend %position-relative1025

        .#{$p-dynamic-image}
            @extend %position-absolute1025
            +position(1rem, initial, initial, 1rem)

    &.#{$-horizontal-right}
        @extend %position-relative1025

        .#{$p-dynamic-image}
            @extend %position-absolute1025
            +position(1rem, 1rem, initial, initial)

    &.#{$-no-photo}
        .#{$p-dynamic-image}
            @extend %display-none1025

    &.#{$-small-photo}
        .#{$p-dynamic-image}
            height: 125px

    &.#{$-no-stream}
        .#{$m-entry-slot__stream-updates},
        .#{$p-stream-update-header}
            @extend %display-none1025
