.#{$m-entry-section}.#{$section1} .#{$center} .#{$m-entry-slot}:first-child::after,
.#{$m-entry-section}.#{$section1} .#{$center} .#{$m-entry-slot}:first-child > :first-child::after,
.#{$m-entry-section}.#{$section2} .#{$center} .#{$m-entry-slot}:first-child::after,
.#{$m-entry-section}.#{$section2} .#{$center} .#{$m-entry-slot}:first-child > :first-child::after,
.#{$m-entry-section}.#{$section2} .#{$center} .#{$m-entry-slot}:last-child > :first-child::before
    content: ''

    @extend %display-block1025

    @extend %position-absolute1025

    border-style: solid
    border-color: $grey

    height: 5px
    width: 5px

.#{$m-entry-section}.#{$section1} .#{$right}::before,
.#{$m-entry-section}.#{$section2} .#{$center}::before,
.#{$m-entry-section}.#{$section6} .#{$left-center}::before,
.#{$m-entry-section}.#{$section7} .#{$left-center}::before,
.#{$m-entry-section}.#{$section6} .#{$right}::before,
.#{$m-entry-section}.#{$section7} .#{$right}::before
    content: ''

    @extend %position-absolute1025

    border-left: 1px solid $alto

.#{$m-entry-section}.#{$section1} .#{$center} .#{$m-entry-slot}:last-child
.#{$m-entry-section}.#{$section1} .#{$right} .#{$m-entry-slot}:first-child
    @extend %display-block1025

.#{$m-entry-section}.#{$section6} .#{$right},
.#{$m-entry-section}.#{$section7} .#{$right},
.#{$m-entry-section}.#{$section6} .#{$right-center},
.#{$m-entry-section}.#{$section7} .#{$right-center}
    float: left

    border: 0

.#{$m-entry-section}.#{$section1} .#{$right}::before,
.#{$m-entry-section}.#{$section2} .#{$center}::before
    +position(0, 341px, 0, initial)
    left: initial

.#{$m-entry-section}.#{$section6} .#{$left-center}::before,
.#{$m-entry-section}.#{$section7} .#{$left-center}::before
    +position(0, initial, 0, 510px)
    right: initial

.#{$m-entry-section}.#{$section6} .#{$left}::before,
.#{$m-entry-section}.#{$section7} .#{$left}::before
    +position(initial, initial, initial, 255px)

.#{$m-entry-section}.#{$section1} .#{$left}::before,
.#{$m-entry-section}.#{$section2} .#{$left}::before
    +position(initial, initial, initial, 341px)

.#{$m-entry-section}.#{$-horizontal-left} .#{$m-entry-slot__labels},
.#{$m-entry-section}.#{$-horizontal-left} h3,
.#{$m-entry-section}.#{$-horizontal-left} .#{$m-entry-slot__meta},
.#{$m-entry-section}.#{$-horizontal-left} .#{$m-entry-slot__blurb},
.#{$m-entry-section}.#{$-horizontal-left} .#{$p-cross-promo-logo}
    margin-left: 50%

.#{$m-entry-section}.#{$section6} .#{$m-entry-section__column},
.#{$m-entry-section}.#{$section7} .#{$m-entry-section__column}
    width: 255px

.#{$m-entry-section}.#{$section1} .#{$m-entry-section__column},
.#{$m-entry-section}.#{$section1} .#{$center},
.#{$m-entry-section}.#{$section2} .#{$m-entry-section__column},
.#{$m-entry-section}.#{$section2} .#{$center},
.#{$m-entry-section}.#{$section2} .#{$right}
    width: 341px

.#{$m-entry-section}.#{$-horizontal-left} .#{$p-dynamic-image},
.#{$m-entry-section}.#{$-horizontal-right} .#{$p-dynamic-image}
    width: 45%

.#{$m-entry-section}.#{$-horizontal-left} .#{$m-entry-slot__labels},
.#{$m-entry-section}.#{$-horizontal-left} h3,
.#{$m-entry-section}.#{$-horizontal-left} .#{$m-entry-slot__meta},
.#{$m-entry-section}.#{$-horizontal-left} .#{$m-entry-slot__blurb},
.#{$m-entry-section}.#{$-horizontal-right} .#{$m-entry-slot__labels},
.#{$m-entry-section}.#{$-horizontal-right} h3,
.#{$m-entry-section}.#{$-horizontal-right} .#{$m-entry-slot__meta},
.#{$m-entry-section}.#{$-horizontal-right} .#{$m-entry-slot__blurb}
    width: 50%
