.#{$m-entry-section}
    &.#{$section2}
        .#{$right}
            float: left
            clear: none

            .#{$m-entry-slot}
                float: none

                width: auto

    &.#{$section6},
    &.#{$section7}
        .#{$right}
            width: 258px

            &::before
                +position(0, 258px, 0, initial)
                left: initial

    &.#{$-horizontal-left}
        @extend %position-relative1025

        .#{$p-dynamic-image}
            @extend %position-absolute1025
            +position(1rem, initial, initial, 1rem)

    &.#{$-horizontal-right}
        @extend %position-relative1025

        .#{$p-dynamic-image}
            @extend %position-absolute1025
            +position(1rem, 1rem, initial, initial)

    &.#{$-no-photo}
        .#{$p-dynamic-image}
            @extend %display-none1025

    &.#{$-small-photo}
        .#{$p-dynamic-image}
            height: 125px

    &.#{$-no-stream}
        .#{$m-entry-slot__stream-updates},
        .#{$p-stream-update-header}
            @extend %display-none1025
