%display-block800max
    display: block

%display-table800max
    display: table

%display-table-header-group800max
    display: table-header-group

%display-table-row-group800max
    display: table-row-group

%position-absolute800max
    position: absolute
