.#{$m-snippet}
    &.#{$sidebar-left} .#{$left},
    &.#{$sidebar-right} .#{$right}
        width: 40%

    &.#{$sidebar-left} .#{$right},
    &.#{$sidebar-right} .#{$left}
        width: 55%

    &.#{$thin}
        .#{$float-left}
            margin-right: 1rem
            margin-left: -2rem

        .#{$float-right}
            margin-right: -2rem
            margin-left: 1rem

    .#{$float-left}
        float: left

        margin-right: 1rem
        margin-right: 0

        width: 320px

    .#{$float-right}
        float: right

        margin-right: 0
        margin-left: 1rem

        width: 320px
