.#{$m-article__follow-bar}
    @extend %display-block1025

.#{$m-article__entry},
.#{$m-stream__header}
    q
        font-size: 2.5rem

        margin: 2.5rem 2.5rem 2.2rem

    p,
    p,
    ol,
    ol,
    ul,
    ul
        font-size: 1.1rem
