.m-nav
    background: $mine-shaft

    overflow: visible
    -ms-overflow-style: auto
    -webkit-overflow-scrolling: auto
    overflow-scrolling: auto

    border: 0

    &.-sections
        display: none

    &.-user
        text-align: left

        @extend %position-absolute1025

        border-right: 1px solid #fa4b2a
        border-left: 1px solid #fa4b2a

        width: 160px

        .m-nav__menu li
            background: $white

            a
                color: $tundora

                &:hover,
                &:active
                    background: none

                    color: $pomegranate

    &.-site,
    &.-user
        @extend %position-relative1025

.m-nav-dropdown
    @extend %display-block1025

    @extend %position-absolute1025

    border-right: 1px solid $pomegranate
    border-left: 1px solid $pomegranate

    -webkit-transform: translate3d(0,0,0)
    -moz-transform: translate3d(0,0,0)
    -ms-transform: translate3d(0,0,0)
    -o-transform: translate3d(0,0,0)
    transform: translate3d(0,0,0)

    -webkit-transition: height 0.1s ease-in-out
    -moz-transition: height 0.1s ease-in-out
    -o-transition: height 0.1s ease-in-out
    transition: height 0.1s ease-in-out

.m-nav-dropdown__pane
    @extend %position-absolute1025

    width: 10250px

    &.is-animated
        -webkit-transition: all 0.2s ease-in-out
        -moz-transition: all 0.2s ease-in-out
        -o-transition: all 0.2s ease-in-out
        transition: all 0.2s ease-in-out

.m-nav-dropdown__section
    white-space: normal

    @extend %display-inline-block1025

    @extend %position-relative1025

    width: $container-width

    ul
        padding: 0 5px

.m-nav-dropdown__stories
    margin: 15px 0 0 0

    height: 195px

    padding: 0 0 0 15px

    a
        color: $black

        @extend %display-block1025

        @extend %position-relative1025

    h3
        font-family: Adelle,serif
        font-weight: normal

        font-size: .85rem
        line-height: 1.25

    li
        @extend %display-inline-block1025

        width: 20%

        padding: 0 15px 0 0

    &.forums
        padding: 0 0 0 10px

        h3
            font-family: ff-din-web-condensed,sans-serif

            font-size: .85rem

            text-overflow: ellipsis

            margin: .2rem initial initial

        li
            float: right

            height: 50%
            width: 10%

            padding: 0 10px 0 0

        span
            font-size: .8rem
            line-height: 1

            color: $dove-gray

            @extend %display-block1025

        .icon-container
            padding: 10px

.m-nav-dropdown__image
    @extend %position-relative1025

    margin: initial initial 5px

    height: 122px

    &.video
        @extend %position-relative1025

        &::before
            background: rgba($white, 0.5)

            opacity: .5

            margin: -30px initial initial -30px

            border: 4px solid
            border-radius: 60px

            width: 60px

            -webkit-transition: ease all .5s .5s
            -moz-transition: ease all .5s .5s
            -o-transition: ease all .5s .5s
            transition: ease all .5s .5s

        &::after
            opacity: .8

            margin: -15px initial initial -6px

            border-width: 15px 0 15px 20px
            border-style: solid
            border-color: transparent
            border-left-color: $white

            -moz-transform: scale(0.9999)

        &::before,
        &::after
            content: ''

            @extend %display-block1025

            @extend %position-absolute1025

            -webkit-transition: ease all .5s .5s
            -moz-transition: ease all .5s .5s
            -o-transition: ease all .5s .5s
            transition: ease all .5s .5s


    .timn-icon
        @extend %position-absolute1025

        margin: -45px initial initial -45px

        height: 90px
        width: 90px

    &.video::before,
    &.video::after,
    .timn-icon
        +position(50%, initial, initial, 50%)

.m-nav-dropdown__subsections
    @extend %position-absolute1025
    +position(initial, initial, 0, 0)

    max-height: 32px

    a
        font-weight: bold

        line-height: 24px

        @extend %display-inline-block1025

        @extend %position-relative1025

        height: 22px

        padding: 0 5px 0 5px

        &:hover,
        &:active
            background: $scarlet

            text-decoration: none

        &.has-icon
            padding: initial initial initial 24px

    li
        @extend %display-block1025

        margin: 5px 5px 5px 0

    .icon
        @extend %position-absolute1025
        +position(50%, initial, initial, 4px)

        margin: -8px initial initial

        height: 16px
        width: 16px

.m-nav-dropdown__loading
    @extend %display-block1025

    @extend %position-absolute1025
    +position(50%, initial, initial, 50%)

    margin: -25px initial initial -25px

    height: 50px
    width: 50px

.m-nav__menu
    a
        font-size: 1.25rem
        line-height: 44px


        padding: 0 .75rem

    li
        &:first-child
            margin: initial initial initial 0

        &.has-dropdown > a
            @extend %position-relative1025

            padding: 0 1rem 0 .5rem

            &::after
                content: ''

                @extend %display-block1025

                @extend %position-absolute1025
                +position(initial, 4px, 12px, initial)
                left: initial

                border-width: 4px 4px 0 4px
                border-style: solid
                border-color: transparent
                border-top-color: $dove-gray

        &.has-dropdown.is-selected > a::after,
        &.has-dropdown.is-selected > a::after
            border-width: 0 4px 4px 4px
            border-bottom-color: $pomegranate

        &.-search
            @extend %position-absolute1025
            +position(0, 20px, initial, initial)

            a
                color: transparent

                &::before
                    font-size: 1.25rem
                    line-height: 40px

                    text-align: center

                    +position(0, initial, initial, 0)

                &::after
                    @extend %display-none1025

            &.is-selected a::before,
            a::before
                color: $alabaster

        &.-back-to-top
            @extend %display-block1025

            @extend %position-absolute1025
            +position(0, initial, initial, initial)

            a
                padding: 0

                &:hover,
                &:active
                    background: none

            &:hover .triangle-icon,
            &:active .triangle-icon
                -webkit-transform: rotate(-180deg)
                -moz-transform: rotate(-180deg)
                -ms-transform: rotate(-180deg)
                -o-transform: rotate(-180deg)
                transform: rotate(-180deg)

            .triangle-icon
                @extend %position-absolute1025
                +position(50%, initial, initial, 50%)

                margin: -13px initial initial -13px

                height: 25px
                width: 25px

        &.-user a
            font-size: .85rem

            border-left: 1px solid $mine-shaft

            max-width: 160px

            padding: 0 .5rem 0 5px

        &,
        &.-user
            background-color: $black

            line-height: 1

            @extend %display-inline-block1025

            @extend %position-relative1025

            margin: 0 1px

        &.-back,
        &.-sections,
        &.home,
        .icon
            @extend %display-none1025

        a.has-icon
            padding: initial initial initial 0

.m-nav__search
    @extend %display-block1025

    @extend %position-absolute1025
    +position(initial, 0, initial, initial)

    border: 1px solid #fa4b2a
    border-top: none

    width: 300px

    padding: 0 .5rem

    input
        border: 1px solid $swiss-coffee

.m-nav__avatar
    margin: 5px 10px 5px 0

    height: 30px
    width: 30px

.m-nav__social
    @extend %display-none1025

.m-nav__container
    -webkit-backface-visibility: hidden

    -webkit-transition: opacity 150ms
    -moz-transition: opacity 150ms
    -o-transition: opacity 150ms
    transition: opacity 150ms

.m-nav__logout input
    line-height: 44px
    color: $tundora

    padding: 0 .75rem

.-user > .m-nav__menu
    background-color: $white

.is-nav-open
    .m-nav-dropdown__loading
        path
            -webkit-animation: icon-loading 500ms infinite alternate ease
            -moz-animation: icon-loading 500ms infinite alternate ease
            -o-animation: icon-loading 500ms infinite alternate ease
            animation: icon-loading 500ms infinite alternate ease

        .path1
            -webkit-animation-delay: 200ms
            -moz-animation-delay: 200ms
            -o-animation-delay: 200ms
            animation-delay: 200ms

        .path2
            -webkit-animation-delay: 100ms
            -moz-animation-delay: 100ms
            -o-animation-delay: 100ms
            animation-delay: 100ms

.is-user-nav-open
    .m-nav.-user
        max-height: 400px
        height: auto
        min-height: 20px

    .m-nav__menu li.-user a
        border-color: $pomegranate

.is-fixed
    .m-nav__menu li.-search
        +position(initial, 40px, initial, initial)

    .m-nav__container
        @extend %position-fixed1025
        +position(0, initial, initial, initial)

        width: $container-width

.is-selected
    & > .m-nav__search
        height: auto

        padding: .5rem

.no-chorustouch
    .m-nav__menu li.has-dropdown > a:hover::after
        border-top-color: $pomegranate


.m-nav.-user,
.m-nav-dropdown,
.m-nav__menu li.is-selected a,
.m-nav__menu li.-user a,
.m-nav__search
    background: $alabaster

.m-nav.-user .m-nav__menu li:nth-child(odd),
.m-nav-dropdown__subsections
    background: $gallery

.m-nav-dropdown__subsections a,
.m-nav-dropdown__subsections li a,
.m-nav__menu li.-search.is-selected a
    background: $pomegranate

.m-nav-dropdown__stories.forums h3,
.m-nav-dropdown__stories.forums span,
.m-nav-dropdown__subsections a
    font-family: ff-din-web-condensed,sans-serif

.m-nav.-user .m-nav__menu li a,
.m-nav-dropdown__subsections a,
.m-nav__search input
    font-size: 1rem

.m-nav-dropdown__stories.forums h3,
.m-nav-dropdown__subsections a
    text-transform: uppercase

.m-nav-dropdown__image.video::before,
.m-nav-dropdown__subsections a,
.m-nav-dropdown__subsections li a
    color: $white

.m-nav-dropdown__stories a:hover,
.m-nav-dropdown__stories a:active,
.m-nav-dropdown__stories.forums h3,
.m-nav__menu li a:hover,
.m-nav__menu li a:active,
.m-nav__menu li.is-selected a,
.m-nav__menu li.-user a,
.m-nav__menu li a:hover::before,
.m-nav__menu li a:active::before
    color: $pomegranate

.m-nav-dropdown__pane,
.m-nav-dropdown__stories.forums h3,
.m-nav-dropdown__subsections ul
    white-space: nowrap

.m-nav__ellis-hamburger-button,
.is-nav-open .m-nav__content-blocker,
.is-user-nav-open .m-nav__content-blocker,
.is-new-articles-open .m-nav__content-blocker,
.is-sections-nav-open .m-nav__content-blocker
    @extend %display-none1025

.m-nav.-user,
.m-nav-dropdown,
.m-nav-dropdown__stories,
.m-nav-dropdown__stories.forums h3,
.m-nav-dropdown__subsections,
.m-nav-dropdown__subsections ul,
.m-nav__menu li.-back-to-top,
.m-nav__search,
    overflow: hidden

.m-nav.-user,
.m-nav__search,
.is-fixed .m-nav__container.is-hidden
    opacity: 0

a:hover .m-nav-dropdown__image.-video::before,
a:hover .m-nav-dropdown__image.-video::after,
.is-user-nav-open .m-nav.-user,
.is-selected > .m-nav__search
    opacity: 1

.m-nav-dropdown__pane,
.m-nav-dropdown__section,
.m-nav-dropdown__stories,
.m-nav-dropdown__stories li,
.m-nav-dropdown__subsections li,
.m-nav__menu li,
.m-nav__menu li.-user
    float: left

.m-nav.-site,
.m-nav.-user,
.realcsstransforms3d .is-nav-open .m-nav.-site,
.no-realcsstransforms3d .is-nav-open .m-nav.-site,
.realcsstransforms3d .is-user-nav-open .m-nav.-user,
.no-realcsstransforms3d .is-user-nav-open .m-nav.-user
    left: initial

.m-nav-dropdown__stories h3,
.m-nav-dropdown__subsections ul,
.m-nav__menu li.-search,
.m-nav__search
    margin: 0

.m-nav.-user .m-nav__menu li,
.m-nav.-user .m-nav__menu li a,
.m-nav__logout input
    border: none

.is-nav-open .m-nav-dropdown,
.is-user-nav-open .m-nav.-user
    border-bottom: 1px solid $pomegranate

.m-nav.-user,
.m-nav-dropdown,
.m-nav-dropdown__image.-video::after,
.m-nav__menu li.has-dropdown > a::after,
.m-nav__search
    height: 0

.m-nav.-site,
.m-nav__menu li.-user,
.m-nav__menu li.-search a::before
    height: 40px

.m-nav-dropdown__stories.forms .icon-container,
.m-nav-dropdown__image.-video:before
    height: 60px

.m-nav-dropdown__section,
.is-nav-open .m-nav-dropdown
    height: 245px

.m-nav-dropdown__stories,
.m-nav-dropdown__stories a,
.m-nav-dropdown__stories.forums .icon,
.m-nav__menu a
    height: 100%

.m-nav-dropdown__image.-video::after,
.m-nav__menu li.has-dropdown > a::after,
.m-nav__menu li.-back-to-top
    width: 0

.m-nav__menu li.-search,
.m-nav__menu li.-search a::before,
.is-fixed .m-nav__menu li.-back-to-top
    width: 40px

.m-nav.-site,
.m-nav.-user,
.m-nav.-user .m-nav__menu li,
.m-nav-dropdown,
.m-nav-dropdown__stories,
.m-nav-dropdown__stories a,
.m-nav-dropdown__stories.forums .icon,
.m-nav-dropdown__image,
.m-nav-dropdown__subsections
    width: 100%

.m-nav,
.realcsstransforms3d .is-nav-open .m-nav.-site,
.no-realcsstransforms3d .is-nav-open .m-nav.-site,
.realcsstransforms3d .is-user-nav-open .m-nav.-user,
.no-realcsstransforms3d .is-user-nav-open .m-nav.-user
    -webkit-transform: none
    -moz-transform: none
    -ms-transform: none
    -o-transform: none
    transform: none

.m-nav.-user,
.m-nav-dropdown__stories.forums .icon-container,
.m-nav-dropdown__subsections a,
.m-nav__menu li.-search,
.m-nav__menu li.-back-to-top,
.m-nav__menu li.-back-to-top .triangle-icon,
.m-nav__search,
    -webkit-transition: all 0.1s
    -moz-transition: all 0.1s
    -o-transition: all 0.1s
    transition: all 0.1s
