head[data-network='sbn']+body .#{$harmony-content-link}
    .#{$harmony-thumbnail}
        @extend %display-none600

    .#{$harmony-sponsorship},
    .#{$harmony-title},
    .#{$harmony-byline},
    .#{$harmony-description}
        float: left

        width: 100%

    .#{$harmony-sponsorship}
        .#{$harmony-preamble}
            float: left

        .#{$harmony-logo}
            float: right
