.p-entry-header
    h1
        font-size: 2.75rem

    h2
        font-size: 1.6rem

.p-entry-header__byline .author
    font-size: 1rem

.p-entry-header__admin
    font-size: .75rem

    @extend %position-absolute800
    +position(initial, .5rem, .5rem, initial)

    margin: 0
