%display-block700
    display: block

%display-table700
    display: table

%display-table-row700
    display: table-row

%display-table-cell700
    display: table-cell

%display-inline700
    display: inline

%display-inline-block700
    display: inline-block

%position-absolute700
    position: absolute

%position-relative700
    position: relative
