.#{$m-comments}
    .#{$citem}
        margin-left: 10rem

        @for $i from 8 through 10
            &.#{$cdepth-}#{$i}
                margin-left: #{$i}rem

    .#{$vox-msg-join},
    .#{$comments-closed},
    .#{$comments-load-error-msg}
        font-size: 1.8rem
