.#{$m-comments}
    .#{$citem}
        margin: initial initial initial 10rem

        @for $i from 8 through 10
            &.#{$cdepth-}#{$i}
                margin: initial initial initial #{$i}rem

    .#{$vox-msg-join},
    .#{$comments-closed},
    .#{$comments-load-error-msg}
        font-size: 1.8rem
