.#{$p-entry-header}
    padding: 1.5rem

.#{$p-entry-header__labels}
    left: 1.5rem

.#{$p-entry-header__byline} .#{$email},
.#{$p-entry-header__byline} .#{$twitter}
    font-size: .8rem
    font-style: italic

    @extend %display-inline700

    margin-left: .5rem
