.#{$m-ad__zone-1a}
    text-align: center

    @extend %display-block1025

    margin: 30px auto

    width: 100%

.#{$m-ad__zone-1b}
    @extend %display-none1025

.#{$m-ad__zone-5}
    padding: 1rem 0
