head[data-network='eater']+body
    .#{$m-entry-box} .#{$harmony-content-link} .#{$harmony-thumbnail}
        height: 270px

    .#{$m-entry-box__bleed-square} .#{$harmony-content-link} .#{$harmony-thumbnail}
        height: 300px

    .#{$m-entry-box__bleed-tall} .#{$harmony-content-link} .#{$harmony-thumbnail}
        height: 550px
