.#{$m-gallery-entry}
    .#{$m-article__comments__content}
        aside
            .#{$p-rock}
                float: left
                width: 50%
                margin-bottom: 0

                &:first-child
                    ul
                        border-right: 1px solid $alto
