.#{$m-footer__search-col}
    padding: 2.2rem 1.5rem initial initial

.#{$m-footer__elsewhere-col}
    width: 29%

    li:first-child
        margin: 0 initial initial

.#{$m-footer__social}::before
    line-height: 25px

    @extend %display-inline-block800

    @extend %position-relative800

    margin-right: .5rem

    height: 25px
    width: 25px

.#{$m-footer__search-col},
.#{$m-footer__sections-col},
.#{$m-footer__basics-col},
.#{$m-footer__elsewhere-col}
    min-height: 500px

    padding: 2rem 1rem 1rem 1.5rem

.#{$m-footer__sections-col},
.#{$m-footer__basics-col}
    width: 18%
