.#{$m-new-articles}
    @extend %position-relative1025
    top: initial
    right: initial

    border-right: 1px solid $pomegranate
    border-left: 1px solid $pomegranate

    width: 100%

    &.#{$is-animated},
    &.#{$is-animated} .#{$m-new-articles__list}
        -webkit-transition: all 0.2s ease-in-out
        -moz-transition: all 0.2s ease-in-out
        -o-transition: all 0.2s ease-in-out
        transition: all 0.2s ease-in-out

.#{$m-new-articles__toggle}
    margin-top: 20px

    height: 60px

    -webkit-transition: all 0.1s
    -moz-transition: all 0.1s
    -o-transition: all 0.1s
    transition: all 0.1s

    &:hover
        background: $scarlet

    strong
        font-size: 2.5rem
        line-height: 1.1

        text-indent: 8px

        margin-top: 3px

        &::after
            content: ''

            @extend %display-inline-block1025

            @extend %position-relative1025
            +position(1px, initial, initial, 2px)

            border-width: 5px 5px 0 5px
            border-style: solid
            border-color: transparent
            border-top-color: $white

            width: 0

    em
        font-size: .85rem

.#{$m-new-articles__date}
    @extend %position-absolute1025
    +position(0, initial, initial, 0)

.#{$m-new-articles__stories}
    font-size: .85rem

.#{$m-new-articles__pane}
    -ms-overflow-style: auto
    -webkit-overflow-scrolling: auto
    overflow-scrolling: auto

    @extend %position-relative1025

    padding: 0 44px

    -webkit-transform: none
    -moz-transform: none
    -ms-transform: none
    -o-transform: none
    transform: none

.#{$m-new-articles__list}
    font-size: 0

    white-space: nowrap

    float: left

    @extend %position-relative1025

    margin: 0

    padding: 0

    -webkit-transform: translate3d(0,0,0)
    -moz-transform: translate3d(0,0,0)
    -ms-transform: translate3d(0,0,0)
    -o-transform: translate3d(0,0,0)
    transform: translate3d(0,0,0)

    -webkit-perspective: 1000
    -moz-perspective: 1000
    -ms-perspective: 1000
    -o-perspective: 1000
    perspective: 1000

    *
        white-space: normal

.#{$m-new-articles__day}
    vertical-align: top

    @extend %display-inline-block1025

    @extend %position-relative1025

    width: 311px

    padding-top: 2rem

.#{$m-new-articles__controls}
    background: $alabaster

    color: transparent

    @extend %display-block1025

    @extend %position-absolute1025
    +position(0, initial, initial, initial)

    width: 46px

    &::before
        font-family: "verge-font-icons"

        font-size: 1.5rem
        line-height: 44px
        color: $tundora

        text-align: center
        text-indent: 0

        opacity: .1

        @extend %position-absolute1025
        top: 50%
        left: 50%

        margin-top: -22px
        margin-left: -22px

        height: 44px
        width: 44px

        -webkit-transition: opacity 100ms
        -moz-transition: opacity 100ms
        -o-transition: opacity 100ms
        transition: opacity 100ms

    &.#{$-previous}
        +position(initial, initial, initial, 0)

        border-right: 1px solid #mercury

        &::before
            @extend icon-left-open::before !optional
            content: '\e802'

    &.#{$-next}
        +position(initial, 0, initial, initial)

        &::before
            @extend icon-right-open::before !optional
            content: '\e803'

    &.#{$is-active}
        &:hover
            background: $mercury

            &::before
                opacity: .8

        &::before
            opacity: .4

.#{$m-new-articles},
.#{$m-new-articles__pane},
.#{$m-new-articles__controls}
    overflow: hidden

.#{$is-new-articles-open} .#{$m-new-articles__toggle} strong::after
    border-width: 0 5px 5px 5px
    border-top-color: transparent
    border-bottom-color: $white

.#{$realcsstransforms3d} .#{$is-new-articles-open} .#{$m-new-articles},
.#{$no-realcsstransforms3d} .#{$is-new-articles-open} .#{$m-new-articles}
    border-bottom: 1px solid $alto

    -webkit-transform: none
    -moz-transform: none
    -ms-transform: none
    -o-transform: none
    transform: none

.#{$m-new-articles__day},
.#{$m-new-articles__controls}.#{$-next}
    border-left: 1px solid #mercury

.#{$m-new-articles},
.#{$m-new-articles} strong::after
    height: 0

.#{$m-new-articles__pane},
.#{$m-new-articles__list},
.#{$m-new-articles__day},
.#{$m-new-articles__controls},
.#{$realcsstransforms3d} .#{$is-new-articles-open} .#{$m-new-articles},
.#{$no-realcsstransforms3d} .#{$is-new-articles-open} .#{$m-new-articles}
    height: 460px