head[data-network='polygon']+body
    .harmony-content-link
        min-height: 260px

        .harmony-logo
            top: 15px
            right: 15px

    .block_f .harmony-content-link
        min-height: 600px
