.#{$m-review__intro}
    font-size: 1.1rem

    margin-right: 12rem
    margin-left: 12rem

.#{$m-review__wrap-up}
    padding: 3rem

.#{$m-review__wrap-up__blurb}
    q
        width: 30%

    p
        float: right

        margin: 0.5rem 0

        width: 65%

.#{$m-review__breakdown}
    .#{$blurb}
        font-size: 0.8rem

    li
        font-size: 1.2rem
