.m-auth-modal,
.m-auth-modal .m-auth-modal__body p,
.m-auth-modal hr,
.m-auth-modal .m-auth-modal__form,
.m-auth-modal.theverge .m-auth-modal__logo img[alt="The Verge"],
.m-auth-modal.theverge-mobile .m-auth-modal__logo img[alt="The Verge"],
.m-auth-modal.polygon .m-auth-modal__logo img[alt="Polygon"]
    width: 90%

.m-auth-modal__body[data-chorus-auth-modal="captcha"] .m-auth-modal__recaptcha .m-auth-modal__form,
.m-auth-modal__body[data-chorus-auth-modal="login"] .m-auth-modal__recaptcha .m-auth-modal__form,
.m-auth-modal.sbnation .m-auth-modal__logo img[alt="SB Nation"]
    width: 100%

.m-auth-modal .m-auth-modal__tabs a,
.m-auth-modal .m-auth-modal__tabs span
    font-size: 14px

    padding: 10px 20px

.m-auth-modal__body[data-chorus-auth-modal="login"] .m-auth-modal__login-table td,
.m-auth-modal__body[data-chorus-auth-modal="register"] .m-auth-modal__login-table td
    padding: 0 5px 10px

.m-auth-modal__body[data-chorus-auth-modal="register"] .m-auth-modal__form fieldset .status,
.m-auth-modal__body[data-chorus-auth-modal="rec-migrate"] .m-auth-modal__form fieldset .status,
.m-auth-modal__body[data-chorus-auth-modal="rec-migrate-login"] .m-auth-modal__form fieldset .status,
.m-auth-modal__body[data-chorus-auth-modal="rec-migrate-author"] .m-auth-modal__form fieldset .status,
.m-auth-modal__body[data-chorus-auth-modal="third-party-register"] .m-auth-modal__form fieldset .status
    right: 5px

.m-auth-modal__body[data-chorus-auth-modal="captcha"] .m-auth-modal__recaptcha #recaptcha_image,
.m-auth-modal__body[data-chorus-auth-modal="login"] .m-auth-modal__recaptcha #recaptcha_image
    margin-left: -20px
    margin-right: -20px
    border: 0
