.#{$m-review__intro}
    margin: initial 8rem

    & > aside
        @extend %display-block800
        float: right

        margin: 2rem 0 2rem 2rem

        height: 250px
        width: 300px

        .#{$m-ad}
            margin: 0

.#{$m-review__wrap-up}
    padding: 2rem

.#{$m-review__wrap-up__summary}
    .#{$photo}
        float: left

        width: 35%

    .#{$meta}
        width: 65%

        padding: initial initial initial 2rem

.#{$m-review__wrap-up__blurb}
    q
        font-size: 3rem

.#{$m-review__breakdown-meter}
    li
        font-size: 1.1rem

.#{$m-review__intro} > aside,
.#{$m-review__wrap-up__summary} .#{$meta}
    float: right
