.p-big-search
    form input[type='submit']
        font-size: .7rem
        line-height: 1.9rem

        +position(.4rem, 1rem, initial, initial)

        border-radius: 2rem

        height: 2rem
        width: 2rem

    form input[type='search'],
    form input[type='text']
        font-size: 1.5rem

    .label
        font-size: 1.5rem

        &::after
            @extend %display-block600

            border-style: solid
            border-color: transparent
            border-width: 25px 0 25px 10px
            border-left-color: $dawn-pink

            height: 0
            width: 0
