.#{$m-snippet}
    line-height: 1.5

    margin-right: 3rem
    margin-left: 3rem

    h2,
    h3,
    q
        font-size: 2.5rem

    &.#{$double}
        *zoom: expression(this.runtimeStyle.zoom="1",this.appendChild(document.createElement("br")).style.cssText="clear:both; font:0/0 serif")
        *zoom: 1

        &::after
            clear: both

        &::before,
        &:after
            content: "."

            overflow: hidden

            @extend %display-block800

            height: 0

        .#{$right}
            float: right
            margin-top: 15rem

        .#{$left}
            float: left

        .#{$left},
        .#{$right}
            width: 48%

            p
                margin: 0

    &.#{$thin}
        .#{$float-left}
            margin-left: -4rem

        .#{$float-right}
            margin-right: -4rem

    &.#{$sidebar-left} .#{$left},
    &.#{$sidebar-right} .#{$right}
        width: 35%

    &.#{$sidebar-left} .#{$right},
    &.#{$sidebar-right} .#{$left}
        width: 60%

    .#{$float-left}
        margin-left: -1.5rem

    .#{$float-right}
        margin-right: -1.5rem

    .#{$thin}
        margin-right: 8rem
        margin-left: 8rem

.#{$snippet-n}

    .#{$g8-3}
        margin: 0 6rem !important

    .#{$g10-2}
        margin: 0 3rem !important
