%position-absolute800
    position: absolute

%position-relative800
    position: relative

%display-inline-block800
    display: inline-block

%display-table800
    display: table

%display-table-cell800
    display: table-cell

%display-block800
    display: block

%display-none800
    display: none
