%position-absolute800
    position: absolute

%position-relative800
    position: relative

%display-inline-block800
    display: inline-block

%display-block800
    display: block

%display-none800
    display: none
