.#{$m-hub-admin-menu}
    z-index: 5000000

.#{$m-quick-admin}
    z-index: 1000001

.#{$m-timn__sticky-card}
    z-index: 10000

.#{$m-big-stories}
    z-index: 4

.#{$m-nav-dropdown__image}.#{$-video}::before,
.#{$m-nav-dropdown__image}.#{$-video}::after,
.#{$m-nav__search},
.#{$m-new-articles__controls},
.#{$m-new-articles__controls}::before
    z-index: 2

.#{$m-nav}.#{$-user},
.#{$m-reviews-index__sidebar} .#{$p-starburst},
.#{$m-products-index__sidebar} .#{$p-starburst}
    z-index: 1

.#{$m-entry-section}.#{$section1} .#{$right}::before
    z-index: 0
