.#{$m-comments} .#{$citem}
    font-size: 0.9rem

    .#{$by}
        .#{$has_flair}
            .#{$username}
                &::after
                    font-size: 1rem

        .#{$short-bio}
            font-size: 0.7rem
