.#{$m-products-index}
    @extend %display-table600
    table-layout: fixed

    width: 100%

    .#{$m-products-index__sidebar}
        width: 170px

        border-right: 1px solid $alto

        & > .#{$p-rock}
            @extend %display-block600

        .#{$p-tabs}
            @extend %position-relative600

    .#{$m-products-index__sidebar},
    .#{$m-products-index__content}
        vertical-align: top

        @extend %display-table-cell600

.#{$m-products-index__sidebar}
    .#{$p-tabs}
        @extend %position-relative600

        li
            font-size: 1.3rem
            text-align: left

            border-right: 1px solid $white

            width: auto

.#{$m-products-index__grid}
    li
        width: 50%

.#{$m-products-index} .#{$m-products-index__sidebar} .#{$p-tabs},
.#{$m-products-index__sidebar} .#{$p-tabs}
    margin-top: 0.9rem
