.#{$m-entry-section}.#{$section1} .#{$left}::before,
.#{$m-entry-section}.#{$section2} .#{$left}::before,
.#{$m-entry-section}.#{$section6} .#{$left}::before,
.#{$m-entry-section}.#{$section7} .#{$left}::before
    content: ''

    @extend %position-absolute600min
    +position(0, initial, 0, 50%)
    right: initial

    border-left: 1px solid $alto

.#{$m-entry-section}.#{$section1} .#{$m-entry-section__column},
.#{$m-entry-section}.#{$section2} .#{$m-entry-section__column},
.#{$m-entry-section}.#{$section2} .#{$right} .#{$m-entry-slot},
.#{$m-entry-section}.#{$section6} .#{$m-entry-section__column},
.#{$m-entry-section}.#{$section7} .#{$m-entry-section__column},
    float: left

    width: 50%

.#{$m-entry-section}.#{$section2} .#{$right}::before,
.#{$m-entry-section}.#{$section2} .#{$right}::after,
.#{$m-entry-slot}.#{$-wide} .#{$m-entry-slot__image}
    height: 0

.#{$m-entry-section},
.#{$m-entry-section}.#{$section2} .#{$right},
.#{$m-entry-section}.#{$section7}
    border-top: 1px solid $alto
