.#{$m-entry-section}
    overflow: hidden

    @extend %display-block600

    @extend %position-relative600

    padding: 1.3rem

    &:first-child
        border: none

    &.#{$section2}
        .#{$right}
            *zoom: expression(this.runtimeStyle.zoom="1",this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif")
            *zoom: 1

            float: none
            clear: both

            width: 100%

            &::after
                clear: both

            &::before,
            &::after
                content: "."

                overflow: hidden

                @extend %display-block600

.#{$m-entry-section__column}
    @extend %display-block600
