%display-block600
    display: block

%display-inline600
    display: inline

%display-none600min
    display: none

%display-table600
    display: table

%display-table-header-group600
    display: table-header-group

%display-table-cell600
    display: table-cell

%display-table-row600
    display: table-row

%position-absolute600min
    position: absolute

%position-relative600
    position: relative

