.m-footer__elsewhere-col
    text-align: left

    padding: 0 initial

    li
        @extend %display-block500
        margin: .5rem 0 0 0

    span
        @extend %display-inline500

.m-footer__social::before
    @extend %display-none500

.m-footer__vox-corner
    padding: 1.5rem initial initial

.m-footer__sections-col,
.m-footer__basics-col,
.m-footer__elsewhere-col
    width: 33%
