head[data-network='eater']+body
    .#{$m-entry-box} .#{$harmony-content-link} .#{$harmony-thumbnail}
        height: 200px

    .#{$m-entry-box__bleed}
        .#{$harmony-content-link}
            margin-right: 0
            margin-left: 0

            .#{$harmony-thumbnail}
                height: 400px

    .#{$m-entry-box__bleed-square} .#{$harmony-content-link} .#{$harmony-thumbnail}
        height: 250px

    .#{$m-entry-box__bleed-tall} .#{$harmony-content-link} .#{$harmony-thumbnail}
        height: 600px
