.#{$m-products-index__ad}
    width: 60%

.#{$m-products-index__grid}
    li
        width: 20%

.#{$m-products-index__latest-news}
    ul
        li
            .#{$p-dynamic-image}
                width: 15%
