.#{$m-forum-index__icons}
    width: 100%

    h3
        font-size: 1.2rem
        color: $tundora

        text-transform: none
        text-align: left

        margin: .4rem 0 -.2rem

        padding: 0

    li
        width: 25%

    .#{$forum-icon-container}
        padding: 1rem 0

    .#{$icon}
        margin: 0

        height: 4rem

    .forum-meta
        font-size: .7rem

        @extend %display-block800

.#{$m-forum-header}
    height: 60px

    h1
        font-size: 3rem

        padding: .3rem initial initial

    .#{$label}
        font-size: 2rem

        &::after
            +position(initial, -15px, initial, initial)

            border-width: 30px 0 30px 15px

.#{$m-forum-header__button}
    font-size: .9rem
    line-height: 2.25rem

    +position(.7rem, initial, initial, initial)

    border-radius: 2.5rem

    height: 2.5rem
    width: 2.5rem

.#{$m-forum-header} h1,
.#{$m-forum-header} .#{$label}
    line-height: 60px

.#{$m-forum-index__table} th:nth-child(4),
.#{$m-forum-index__table} td:nth-child(4)
    @extend %display-table-cell800

.#{$m-forum-index__icons},
.#{$m-forum-index__icons} li
    padding: .5rem
