.#{$m-review} > .#{$p-dynamic-image} .#{$m-video__link},
.#{$m-feature} > .#{$p-dynamic-image} .#{$m-video__link}
    &::before
        border-width: 3px
        border-radius: 80px

        margin-top: -40px
        margin-left: -40px

        width: 80px
        height: 80px

    &::after
        border-width: 20px 0 20px 26.66667px

        margin-top: -20px
        margin-left: -8px
