.#{$m-search-page__header}
    .#{$m-search-page__advanced}
        .#{$fields}
            li
                width: 50%

    .#{$m-search-page__switch}
        font-size: 1.25rem

.#{$m-search-page__header} .#{$m-search-page__advanced} ul,
.#{$m-search-page__header} .#{$m-search-page__advanced} ul li
    padding: 0.5rem
