.#{$m-entry-section}
    &.#{$section2b},
    &.#{$section3},
    &.#{$section4},
    &.#{$section5}
        .#{$m-entry-slot__mobile-list}
            overflow: hidden

            display: block
            z-index: 0

            position: absolute
            +position(0, initial, 0, 50%)

            border-left: 1px solid $alto

            width: 1px
