// Color
$white: #fff
$black: #000

$alto: #ddd
$tundora: #444

$silver: #cacaca
$swiss-coffee: #d2cecd
$alabaster: #fcfcfc
$gallery: #f0f0f0
$mine-shaft: #2c2c2c
$dove-gray: #737373

$dawn-pink: #f7f1ee
$pomegranate: #fa4b2a
$scarlet: #e22805

// Global Values
$container-width: 1025px

// Class Names Development
$m-nav: m-nav
$-sections: -sections
$-user: -user
$m-nav__menu: m-nav__menu
$-site: -site
$m-nav-dropdown: m-nav-dropdown
$m-nav-dropdown__pane: m-nav-dropdown__pane
$is-animated: is-animated
$m-nav-dropdown__section: m-nav-dropdown__section
$m-nav-dropdown__stories: m-nav-dropdown__stories
$forums: forums
$icon-container: icon-container
$m-nav-dropdown__image: m-nav-dropdown__image
$video: video
$timn-icon: timn-icon
$m-nav-dropdown__subsections: m-nav-dropdown__subsections
$has-icon: has-icon
$icon: icon
$m-nav-dropdown__loading: m-nav-dropdown__loading
$has-dropdown: has-dropdown
$is-selected: is-selected
$-search: -search
$-back-to-top: -back-to-top
$triangle-icon: triangle-icon
$-back: -back
$home: home
$m-nav__search: m-nav__search
$m-nav__avatar: m-nav__avatar
$m-nav__social: m-nav__social
$m-nav__container: m-nav__container
$m-nav__logout: m-nav__logout
$is-nav-open: is-nav-open
$path1: path1
$path2: path2
$is-user-nav-open: is-user-nav-open
$is-fixed: is-fixed
$no-chorustouch: no-chorustouch
$m-nav__content-blocker: m-nav__content-blocker
$m-nav__ellis-hamburger-button: m-nav__ellis-hamburger-button
$is-new-articles-open: is-new-articles-open
$is-sections-nav-open: is-sections-nav-open
$-video: -video
$realcsstransforms3d: realcsstransforms3d
$no-realcsstransforms3d: no-realcsstransforms3d


// Class Names Production
$m-nav: a
$-sections: aa
$-user: ab
$m-nav__menu: ac
$-site: ad
$m-nav-dropdown: ae
$m-nav-dropdown__pane: af
$is-animated: ag
$m-nav-dropdown__section: ah
$m-nav-dropdown__stories: ai
$forums: aj
$icon-container: ak
$m-nav-dropdown__image: al
$video: am
$timn-icon: an
$m-nav-dropdown__subsections: ao
$has-icon: ap
$icon: aq
$m-nav-dropdown__loading: ar
$has-dropdown: as
$is-selected: at
$-search: au
$-back-to-top: av
$triangle-icon: aw
$-back: ax
$home: ay
$m-nav__search: az
$m-nav__avatar: aA
$m-nav__social: aB
$m-nav__container: aC
$m-nav__logout: aD
$is-nav-open: aE
$path1: aF
$path2: aG
$is-user-nav-open: aH
$is-fixed: aI
$no-chorustouch: aJ
$m-nav__content-blocker: aK
$m-nav__ellis-hamburger-button: aL
$is-new-articles-open: aM
$is-sections-nav-open: aN
$-video: aO
$realcsstransforms3d: aP
$no-realcsstransforms3d: aQ
