// Color
$white: #fff
$black: #000

$alto: #ddd
$tundora: #444

$silver: #cacaca
$swiss-coffee: #d2cecd
$alabaster: #fcfcfc
$gallery: #f0f0f0
$mine-shaft: #2c2c2c
$dove-gray: #737373

$dawn-pink: #f7f1ee
$pomegranate: #fa4b2a
$scarlet: #e22805

// Global Values
$container-width: 1025px
