.#{$m-snippet}
    font-size: 1.1rem

    margin: initial 6rem

    h2
        font-size: 2.75rem

    q
        font-size: 3rem

    &.#{$thin}
        .#{$float-left}
            margin: initial initial initial -6rem

        .#{$float-right}
            margin: initial -6rem initial initial

    .#{$thin}
        margin: initial 12rem

    .#{$float-left}
        margin: initial initial initial -3rem

    .#{$float-right}
        margin: initial -3rem initial initial

.#{$snippet-n}

    .#{$g8-3}
        margin: 0 12rem !important

    .#{$g10-2}
        margin: 0 6rem !important

