.#{$m-snippet}
    font-size: 1.1rem

    margin-right: 6rem
    margin-left: 6rem

    h2
        font-size: 2.75rem

    q
        font-size: 3rem

    &.#{$thin}
        .#{$float-left}
            margin-left: -6rem

        .#{$float-right}
            margin-right: -6rem

    .#{$thin}
        margin-right: 12rem
        margin-left: 12rem

    .#{$float-left}
        margin-left: -3rem

    .#{$float-right}
        margin-right: -3rem

.#{$snippet-n}

    .#{$g8-3}
        margin: 0 12rem !important

    .#{$g10-2}
        margin: 0 6rem !important

