.#{$m-timn__sticky-card}
    float: none

    @extend %position-absolute1025

    +position(initial, 0, 0, initial)

    margin: 0

    width: 300px

    &.#{$winner}
        +position(0, initial, initial, initial)
        bottom: initial

        margin: 0

    .#{$p-review-score}
        a
            padding-top: 10px

    .#{$buy-now}
        padding-top: 25px

.#{$m-timn__intro}
    @extend %position-relative1025

    aside
        @extend %display-block1025

        @extend %position-absolute1025
        +position(3.25rem, 0, initial, initial)

    .#{$m-timn__social-buttons}
        @extend %position-absolute1025
        +position(3.25rem, initial, initial, 7px)

        width: 2rem

        a
            margin-bottom: 0.3rem

            width: 100%

.#{$m-timn__wrap-up}
    padding: 3rem

.#{$m-timn__wrap-up__card}
    .#{$p-review-score} a
        padding-top: 1rem

    .#{$m-timn__prices}
        width: 50%

.#{$m-timn__linkback}
    text-align: right

.#{$m-timn__sticky-card},
.#{$m-timn__sticky-card}.#{$winner}
    float: none

.#{$m-timn__wrap-up__card} .#{$photo},
.#{$m-timn__wrap-up__card} .#{$p-review-score} a,
.#{$m-timn__wrap-up__card} .#{$m-timn__prices}
    height: 120px

.#{$m-timn__wrap-up__card} .#{$photo},
.#{$m-timn__sticky-card} .#{$buy-now}
    width: 25%

.#{$m-timn__intro},
.#{$m-timn__body}
    padding: 0 325px 2rem 3rem
