.#{$m-big-stories}
    @extend %display-inline-block1025

    +position(20px, initial, initial, initial)

    margin: 0

    width: 645px

    padding: 0

    .#{$chorus-emc__admin}
        @extend %position-absolute1025
        +position(-20px, initial, initial, initial)

.#{$m-big-stories__main}
    margin: initial 40px initial initial

    border-bottom: 1px solid $alto

    width: 605px

    p
        font-size: 1rem

    .#{$p-dynamic-image}
        @extend %display-block1025

        height: 59px
        width: 89px

.#{$m-big-stories__main-text}
    width: 512px

.#{$m-big-stories__dropdown}
    width: 516px

.#{$m-big-stories__main} h3,
.#{$m-big-stories__story} h3
    font-size: .85rem


.#{$-has-logo}
    .#{$m-big-stories}
        width: 565px

    .#{$m-big-stories__main}
        width: 525px

    .#{$m-big-stories__dropdown}
        width: 436px

.#{$is-open}
    .#{$m-big-stories__main}
        border: none

    .#{$m-big-stories__dropdown}
        border-top: 1px solid $pomegranate
