.#{$m-stream__updates}
    .#{$m-stream__update-quote}
        font-family: ff-din-web-condensed,sans-serif
        font-weight: 600
        font-style: italic

        font-size: 32px
        line-height: 1
        color: $pomegranate

        text-transform: uppercase
        vertical-align: middle

        @extend %display-table-cell800

        width: 25%

        padding: 0 2rem
