%display-block1025
    display: block

%display-inline-block1025
    display: inline-block

%display-none1025
    display: none

%position-absolute1025
    position: absolute

%position-relative1025
    position: relative

%position-fixed1025
    position: fixed

%transition-background-color1025
    -webkit-transition: background-color 100ms
    -moz-transition: background-color 100ms
    -o-transition: background-color 100ms
    transition: background-color 100ms
