.#{$m-timn__main-photo} .#{$m-timn__logo}
    +position(initial, initial, -2rem, 2rem)

.#{$m-timn__prices} li a
    padding: 3px 5px 0

.#{$m-timn__sticky-card}
    margin: 0 2rem 2rem 0

    width: 45%

    &.#{$winner}
        margin: 0 0 2rem 2rem

.#{$m-timn__wrap-up__product}
    &:nth-child(odd)
        padding: initial initial initial 1rem

    &:nth-child(even)
        padding: initial 1rem initial initial

.#{$m-timn__wrap-up__card} .#{$p-review-score} a
    padding: 1.3rem initial initial

.#{$m-timn} .#{$p-entry-header} h1,
.#{$m-timn} .#{$m-timn__content} h2,
.#{$m-timn} .#{$m-timn__wrap-up} h2
    font-size: 4rem

.#{$m-timn__intro},
.#{$m-timn__body},
.#{$m-timn__wrap-up}
    padding: 2rem
