.#{$m-article__entry},
.#{$m-stream__header}
    q
        font-size: 2rem

        margin: 2rem 2rem 1.75rem

        &.left
            float: left

            margin: initial initial initial 0

        &.right
            text-align: left

            float: right

            margin: initial 0 initial initial

        &.left,
        &.right
            max-width: 40%
